<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="NotasDisponiveis" value="100,50,20,10"/>
    <!-- Os valores das notas devem ser inteiros e separados por vírgula -->
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Erros/TerminalForaDoAr.aspx" redirectMode="ResponseRewrite">
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
